@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;900&display=swap');

* {
	font-family: 'Noto Sans JP', sans-serif;
}

.App {
	padding: 0 2rem;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 0 0 3rem;
}

header .currency {
	display: flex;
	flex-flow: column;
	height: 100px;
	justify-content: center;
}

.productContainer {
	display: flex;
	justify-content: space-between;
	margin: 1rem 0;
}

.productList a {
	color: black;
	text-decoration: none;
	transition: all 0.3s;
}

.productList a:hover {
	color: #666;
}

.formBlock {
	margin: 0 0 1rem;
}
.formBlock label {
	display: block;
}
.formBlock input, .formBlock select, .formBlock button, .formBlock textarea {
	font-size: 1rem;
	margin: 0 1rem 0 0;
	padding: 0.5rem;
}

.feedback {
	color: white;
	font-size: 1rem;
	height: 1.5rem;
	margin: 0 0 1rem;
	padding: 0.5rem;
}